body{
    background-color: rgba(222, 205, 172, 1);
margin: 0;
font-family: cursive;
}
/* .popup-container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.popup{
    height: 334px;
    width: 690px;
    background-color: rgba(254, 250, 243, 1);
    border-radius: 40px;
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: none;
    left: 100px;
     /* transform: translateX(-100%);
    transition:  all 0.25s ease;    */
}
/* .popup.show{
    left: 100px; 
} */
.popup-open .popup{
    display: block;
 }
 .button-press .popup{
display: block;
 } 
.close-icon{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: 22px;
    cursor: pointer;
    font-family: sans-serif;
}
.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(226, 220, 220, 0.733);
}
.popup-open .overlay{
    display: block;
}

.button-container{
    background-color:rgba(254, 250, 243, 1);
    width: 485px;
    height: 285px;
    /* position: fixed; */
    /* inset: 0;
    margin: auto; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    margin: auto;
}
.button{
    cursor: pointer;
    width: 285px;
    height: 63px;
    border-radius: 32px;
    background-color: rgba(235, 191, 83, 1);
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25);
}
.image{
    /* width: 182px; */
    bottom: 32px;
    width: 213px;
    height: 218px;
    left: 46px;
    position: relative;
}
.image img{
    width:100%;
}

.email-bar{
    width:560px;
    height:56px;
    background-color: rgba(238, 232, 221, 1);
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 240px;
    left: 63px;
    border-radius: 28px;
    border: none;
}
.subscribe-bar{
    width: 179px;
    background-color:  rgba(235, 191, 83, 1);
    color: white;
    font-weight: 700;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 40px 40px 10px;
    cursor: pointer;
    border: none;

}
.input{
    width: 374px;
    border:none;
    background-color: rgba(238, 232, 221, 1);
    /* border-radius: 28px; */
    border-radius: 40px 10px 10px 40px;
    /* color:rgba(175, 161, 135, 1); */
    padding: 10px;
}
.text{
    text-align: start;
    /* justify-content: center; */
    position: absolute;
    top: 22px;
    right: 60px;
    font-family: inika;
}
.paragraph{
 color: rgba(0, 0, 0, 1);
font-size: 18px;
font-weight: 400;
}
h2{
    /* font-weight: 400; */
    font-size: 40px;
    line-height:  52.12px;
    font-weight: bold;
}
.error-label{
    color: red;
    bottom: 29px;
    position: relative;
    left: 65px;
    display: none;
}
.error-label .show-error{
    display: block;
}